*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

div{
    margin-top: 3%;
}


.dropdown{
    position: relative;
    display: inline-block;
    width: 100%;
    border: 2px solid salmon;
    background-color: aqua;
    text-align: center;
    padding: 1% 2%;
    
}
.dropdown a{
    padding-left: 5%;
    text-decoration: none;
    font-size: 1.5em;
}

.dropbtn{
    position: relative;
}
.dropdown-content{
    display: none;
    position: relative;
    padding: 4px 6px;
    background-color: rgb(179, 209, 236);
    margin-left: 25px;
    font-size: 1em;
    text-align: center;
}

.dropdown-content a{
    text-decoration: none;
    line-height: 40px;
}

.dropbtn:hover + .dropdown-content{
    display: block;
}